.img {
  height: 35px;
}
h2 {
  color: rgb(46, 162, 207);
}
.container {
  margin-bottom: 80px;
}
.carousel-item {
  padding: 30px 50px;
  height: 600px;
  padding: 50px 50px;
}
h6 {
  color: gray;
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightgrey;
  height: 200px;
}
.bg-color {
  background-color: rgb(158, 216, 239);
  border-radius: 10px;
  padding: 35px 40px;
  width: 720px;
}
footer {
  text-align: center;
}
.button {
  border-radius: 10px;
}
